
body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url(../img/Cover.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar bg-dark {
    background-color: black;
}

h1  {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
    color:rgb(255, 255, 255);
    font-family: monospace;
    font-style: italic;
    font-size: 50px;
    line-height: 152px;
    line-height: 100%;
}

.bg .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(199, 195, 195);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: monospace;
    font-style: italic;
    padding: 12px 38px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}

.calculation {
    position: absolute;
    top: 90%;
    left: 50%;
}

.signature {
    height: 5vh;
    font-size: 15px;
    color: whitesmoke;
    padding-top: 50px;
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 20px;
}
