@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  box-sizing: border-box;
  /*font-family: "Kalam";*/
  font-family: 'Josefin Sans', sans-serif;
  outline: none;
}

body {
  margin: 0;
  background-color: rgba(220, 158, 245, 0.678);
  background-image: url(../img/planets.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.descr {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

a {
  color: rgb(0, 225, 255);
  font-size: 20px;
}

a:hover {
  color: violet;
  font-style: italic;
  text-decoration: none;
}

h2 {
    font-size: 36px;
    color: rgb(0, 225, 255);
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  font-size: 20px;
  color: white;
  animation-duration: 2s;
  animation-name: slidein;
}

strong {
    color: rgb(0, 217, 255);
    font-size: 24px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}